.btn {
  display: inline-block;
  min-width: 165px;
  border-radius: 5px;
  color: $lightgray;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  padding: 13px 20px;
  transition: all 0.3s ease;
  border: 1px solid $primary;

  &:hover {
    transition: all 0.3s ease;
  }

  &.primary-btn {
    background-color: $primary;
    border-color: $primary;

    &:hover {
      background-color: rgba($primary, 0.7);
      color: $lightgray;
    }

    &.outline-btn {
      background-color: transparent;
      color: $lightgray;

      &:hover {
        background-color: $primary;
        color: $lightgray;
      }
    }
  }

}

