.item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media (min-width: $breakpoint-xs) {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
  }

  @media (min-width: $breakpoint-md) {
    margin-bottom: 0;
  }

  &__section {
    @media (min-width: $breakpoint-xs) {
      padding: 50px 0;
    }
  }

  &__img {
    order: -1;
    max-width: 400px;
    height: 100%;

    @media (min-width: $breakpoint-xs) {
      order: 0;
      width: 340px;
      flex-shrink: 0;
    }

    @media (min-width: $breakpoint-md) {
      max-width: 100%;
      width: 580px;
      flex-shrink: 0;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__box {
    max-width: 454px;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: rgba($black, 0.7);
    margin-bottom: 28px;
  }

  &__group {
    margin-bottom: 16px;
  }

  &__sale {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    padding-right: 6px;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: rgba($black, 0.7);
  }
}
