<header class="header-section">
  <div class="header container">
    <strong class="header__img">
      <a href="#">
        <img src="img/polar-logo.png" alt="polar-logo" />
      </a>
    </strong>
    <ul class="header__nav">
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Product</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="header__btn">
      <button class="btn primary-btn">Byu Now</button>
    </div>
  </div>
</header>