$font-main: "Montserrat", sans-serif;

// Color:
$white: #ffffff;
$black: #000000;

$primary: #D23166;
$secondary: #F8EDF0;
$lightgray: #FAFAFA;
$gray: #0F0101;
$gray-1: #150101;
$orange: #F6762C;
$lightpink: #EDB5C7;
$lightpink-1: #F98AAB;

// Breakpoints
$breakpoint-xs: 768px;
$breakpoint-sm: 992px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
